{% extends "layoutgeneral.html.twig" %}

{% block titre %}
 {{parent()}} : Liste de réstaurants
{% endblock %}

{% block contenu %}
    <hr />
    {% for resto in restos %}
        <a href="{{ path('guide_michelin_voir', { 'id': resto.id }) }}">
            {{resto.nom}}<br>
            {{resto.chef}}<br>
            {{resto.nbEtoile}}
            </a>
        <hr />
    {% endfor %}
{% endblock %}