{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{parent()}} : Voir {{resto.nom}}
{% endblock %}

{% block contenu %}
    <p>  {{resto}}<br>
    </p>
    <p><a href="{{ path('guide_michelin_modifier', { 'id': resto.id }) }}">modifier la salle</a></p>
    <p><a href="{{ path('guide_michelin_delete', { 'id' : resto.id}) }}">Supprimer réstaurant</a></p>
 </p>
{% endblock %}