{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{parent()}} : Voir {{resto.nom}}
{% endblock %}

{% block contenu %}
    <p>  {{resto}}<br>
    </p>
    <p><a href="{{ path('guide_michelin_modifier', { 'id': resto.id }) }}">modifier la salle</a></p>
    <ul> message :
    {% for message in app.session.flashbag.get('infoAjout') %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
 </p>
{% endblock %}